<h1>Your Food</h1>
<p>Tell us what you already have in your kitchen!</p>

<%= form_for @food do |f| %>
<div class="field">
  <%= f.label :Vegetable %> <br />
  <%= f.collection_check_boxes(:vegetable, {'carrots': 1, 'zuchini' :2, 'pumkin' :3}, left, first) %>



  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Checked checkbox
    </label>
  </div>
